/*
[TABLE OF CONTENTS]

01. Base
02. Header 
03. Main Section
04. About Section

*/

/*=================================================================
                            Base                              
=================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 85%;
    margin: 0 auto;
}

.button {
    background-image: linear-gradient(90deg, #FBA24F 8%, #FF1E1E 145%);
    color: #fff;
    padding: 15px 25px;
    border-radius: 25px;
    box-shadow: 0px 2px 30px #fc8f4980;
}

.theme-typography {
    color: #FBA24F;
}
/*=================================================================
                            Header  Section                            
=================================================================*/
header {
    background-color: #FFF4ED;
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    text-decoration: none;
    color: #575757;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding-left: 50px;
    text-transform: capitalize;
    transition: 0.3s;
}

.main-menu ul li a:hover {
    color: #FBA24F;
}

/*=================================================================
                            Main Section                              
=================================================================*/
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section-content {
    width: 50%;
}

.main-section-content h1 {
    color: #575757;
    font-size: 48px;
    letter-spacing: 1.6px;
    line-height: 64px;
}

.main-section-content p {
    margin-top: 40px;
    width: 450px;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
}

.main-section-content a {
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.main-section-img {
    width: 50%;
}

.main-section-img img {
    width: 100%;
    height: auto;
}

/*=================================================================
                            About Section                              
=================================================================*/ 
.about-section {
    background: url(../images/about-background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.about-section-img {
    width: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.about-section-img img {
    width: 280px;

}

.about-section-content {
    width: 50%;
    margin-left: 60px;
}

.about-section-content h2 {
    color: #707070;
    font-size: 36px;
    letter-spacing: 1.2px;
}

.about-section-content p {
    margin-top: 30px;
    width: 450px;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 24px;
}

.about-section-content a {
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
}